<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">Welcome</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/installation">Installation</a>
      </li>
      <li class="{% if page.title == "Basic Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage">Basic Usage</a>
      </li>
      <li class="{% if page.title == "Directory structure" %}current{% endif %}">
        <a href="{{ site.url }}/docs/structure">Directory structure</a>
      </li>
    </ul>

    <h4>File Types</h4>
    <ul>
      <li class="{% if page.title == "Resource XML" %}current{% endif %}">
        <a href="{{ site.url }}/docs/resourcexml">Resource XML</a>
      </li>
      <li class="{% if page.title == "Properties" %}current{% endif %}">
        <a href="{{ site.url }}/docs/properties">Properties</a>
      </li>
      <li class="{% if page.title == "DeployData" %}current{% endif %}">
        <a href="{{ site.url }}/docs/deploydata">Deploy Data </a>
      </li>
      <li class="{% if page.title == "Rules XML" %}current{% endif %}">
        <a href="{{ site.url }}/docs/rulesxml">Rules XML</a>
      </li>
    </ul>
    <h4>Ant Tasks</h4>
    <ul>
      <li class="{% if page.title == "Config ANT Tasks" %}current{% endif %}">
        <a href="{{ site.url }}/docs/configanttasks">Config ANT Tasks</a>
      </li>
      <li class="{% if page.title == "Deploy ANT Tasks" %}current{% endif %}">
        <a href="{{ site.url }}/docs/deployanttasks">Deploy ANT Tasks</a>
      </li>
      <li class="{% if page.title == "Misc ANT Tasks" %}current{% endif %}">
        <a href="{{ site.url }}/docs/miscanttasks">Misc ANT Tasks</a>
      </li>
     
    </ul>
  </aside>
</div>
